@model IEnumerable<mvc_proje.Database.Entities.Slider>

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var slider in Model)
            {
                <div class="carousel-item @((slider == Model.First()) ? "active" : "")">
                    <img class="w-100" src="@Url.Content(slider.ImageUrl)" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                    <h1 class="display-2 mb-5 animated slideInDown">@slider.Title</h1>
                                    @if (slider.Button1Text != null)
                                    {
                                        <a href="@slider.Button1Url"
                                           class="btn btn-primary rounded-pill py-sm-3 px-sm-5">@slider.Button1Text</a>
                                    }

                                    @if (slider.Button2Text != null)
                                    {
                                        <a href="@slider.Button2Url"
                                           class="btn btn-secondary rounded-pill py-sm-3 px-sm-5 ms-3">@slider.Button2Text</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Geri</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">İleri</span>
        </button>
    </div>
</div>
<!-- Carousel End !-->