@model mvc_proje.Application.Dtos.Admin.Category.CategoryIndexDto

<!-- Product Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s"
                     style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Our Products</h1>
                    <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor
                        duo.</p>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    @foreach (var category in Model.Categories)
                    {
                        <li class="nav-item @((category == Model.Categories.First() ? "me-0" : "me-2"))">
                            <a class="btn btn-outline-primary border-2 @((category == Model.Categories.First() ? "active" : ""))"
                               data-bs-toggle="pill"
                               href="#tab-@category.Id">@category.Name </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="tab-content">
            @foreach (var category in Model.Categories)
            {
                <div id="tab-@category.Id"
                     class="tab-pane fade show p-0 @((category == Model.Categories.First() ? "active" : ""))">
                    <div class="row g-4">
                        @foreach (var product in category.Products)
                        {
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="product-item">
                                    <div class="position-relative bg-light overflow-hidden">
                                        <img class="img-fluid w-100" src="@Url.Content(product.GetMainImage().ImageUrl)" alt="@product.Name">
                                    </div>
                                    <div class="text-center p-4">
                                        <a class="d-block h5 mb-2" asp-controller="Homepage" asp-action="Product" asp-route-slug="@product.Slug">@product.Name</a>
                                        <span class="text-primary me-1">$@product.Price</span>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="w-50 text-center border-end py-2">
                                            <a class="text-body" asp-controller="Homepage" asp-action="Product" asp-route-slug="@product.Slug"><i class="fa fa-eye text-primary me-2"></i>View
                                                detail</a>
                                        </small>
                                        <small class="w-50 text-center py-2">
                                            <form asp-controller="Cart" asp-action="Add" asp-antiforgery="true" method="post">
                                                <input type="hidden" name="productId" value="@product.Id" />
                                                <input type="hidden" name="quantity" value="1" />
                                                <button type="submit" class="btn btn-link text-body p-0">
                                                    <i class="fa fa-shopping-cart text-primary me-2"></i>Add to cart
                                                </button>
                                            </form>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Product End -->