@model mvc_proje.Services.AboutUs

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="~/assets/main/img/about.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-5 mb-4">@Model.MainDescription</h1>
                <p class="mb-4">@Model.MainDescription</p>
                <p><i class="fa fa-check text-primary me-3"></i>@Model.Elements1</p>
                <p><i class="fa fa-check text-primary me-3"></i>@Model.Elements2</p>
                <p><i class="fa fa-check text-primary me-3"></i>@Model.Elements3</p>
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="@Model.ReadMoreLink">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->